.custom-navbar{

background:#0f172a;

padding:15px 0;

box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.navbar-brand{

font-size:30px;

font-weight:700;

}

.navbar-brand span{

color:#f59e0b;

}

.nav-link{

color:#fff !important;

margin-left:15px;

position:relative;

}

.nav-link::after{

content:"";

position:absolute;

left:0;

bottom:-5px;

width:0;

height:2px;

background:#f59e0b;

transition:.4s;

}

.nav-link:hover::after{

width:100%;

}