<footer class="footer">

<div class="container">

<div class="row">

<div class="col-lg-4">

<h4>

माधव शक्ति संगठन

</h4>

<p>

शिक्षित, विकसित और संगठित समाज
हमारा लक्ष्य।

</p>

</div>

<div class="col-lg-4">

<h4>

महत्वपूर्ण लिंक

</h4>

<ul>

<li><a href="index.html">होम</a></li>

<li><a href="achievements.html">उपलब्धियाँ</a></li>

<li><a href="#">सदस्य</a></li>

<li><a href="#">संपर्क</a></li>

</ul>

</div>

<div class="col-lg-4">

<h4>

सोशल मीडिया

</h4>

<div class="social-icons">

<a href="#"><i class="fab fa-facebook-f"></i></a>

<a href="#"><i class="fab fa-instagram"></i></a>

<a href="#"><i class="fab fa-youtube"></i></a>

<a href="#"><i class="fab fa-whatsapp"></i></a>

</div>

</div>

</div>

<hr>

<div class="text-center">

© 2026 माधव शक्ति संगठन |

All Rights Reserved

</div>

</div>

</footer>